extends layout

block content
  
  h1= title

  if user.id
    p ID: #{user.id}  
  if user.username
    p Username: #{user.username}
  if user.displayName
    p Name: #{user.displayName}
  if user.gender
    p Sex: #{user.gender}      
  if user.emails
    p Email: #{user.emails[0].value}
    
  if user.photos
     img(src="#{user.photos[0].value}")
  else
     img(src="#{user.photos}")  	

